/*
lh: line-height
fs: font-size
br: border-radius
*/

$absoluteWhite: #fff;
$absoluteBlack: #000;
$orange50: #ff9500;
$orange70: #ffbf66;
$orange75: #ffca80;
$orange80: #ffd499;
$orange90: #ffeacc;
$orange95: #fff4e5;
$orange97: #fff9f0;
$orange99: #fffdfa;
$white90: #e4e4e7;
$white95: #f1f1f3;
$white97: #f7f7f8;
$white99: #fcfcfd;
$grey10: #191919;
$grey15: #262626;
$grey20: #333333;
$grey30: #4c4c4d;
$grey35: #59595a;
$grey40: #656567;
$grey60: #98989a;
$grey70: #b3b3b3;
$lh: 1.5;
$br-btn: 6px;
$fs-btn: 1.4rem;
