.main-pricing {
  .plan {
    padding: 20px 0;
    @media screen and (min-width: 768px) and (max-width: 991.98px) {
      margin-top: 40px;
    }
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
      margin-top: 10px;
    }
    @media screen and (max-width: 575.98px) {
      margin-top: 10px;
    }
  }

  .plan-top {
    justify-content: center;
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
      flex-direction: column;
    }
    @media screen and (max-width: 575.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .btn__plan-group {
    padding: 12px;
    background-color: $absoluteWhite;
    border-radius: 8px;
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
    }
    @media screen and (max-width: 575.98px) {
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
    }
    .btn__plan {
      font-weight: 500;
      background-color: transparent;
    }
    .btn--active {
      background-color: $orange50;
      color: $absoluteWhite;
    }
  }

  .plan-list {
    margin: 50px 0 0;
    padding: 40px;
    background-color: $absoluteWhite;
    border-radius: 12px;
    @media screen and (min-width: 768px) and (max-width: 991.98px) {
      padding: 20px;
    }
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
      padding: 25px;
      margin-top: 40px;
    }
    @media screen and (max-width: 575.98px) {
      margin-top: 40px;
      padding: 25px;
    }
  }

  .plan-item {
    padding: 40px 24px 24px 24px;
    border-radius: 12px;
    border: 1px solid $white95;
    background-color: $white99;
    @media screen and (min-width: 1200px) and (max-width: 1399.98px) {
      height: 100%;
    }
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
      padding: 30px 20px 20px 20px;
    }
    @media screen and (max-width: 575.98px) {
      padding: 30px 20px 20px 20px;
    }
  }

  .plan__title {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 10px 22px;
    border: 1px solid $orange90;
    background-color: $orange97;
    font-size: 1.8rem;
    color: $grey15;
    font-weight: 500;
    line-height: 1.69;
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
      font-size: 1.6rem;
    }
    @media screen and (max-width: 575.98px) {
      font-size: 1.6rem;
    }
  }

  .price {
    text-align: center;
    font-size: 1.6rem;
    line-height: 0.73;
    font-weight: 500;
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: 575.98px) {
      font-size: 1.4rem;
    }
    span {
      font-size: 6rem;
      font-weight: 600;
      @media screen and (min-width: 768px) and (max-width: 991.98px) {
        font-size: 5rem;
      }
      @media screen and (min-width: 576px) and (max-width: 767.98px) {
        font-size: 5rem;
      }
      @media screen and (max-width: 575.98px) {
        font-size: 5rem;
      }
    }
  }

  .feature {
    padding: 30px;
    flex-direction: column;
    background-color: $absoluteWhite;
    border-radius: 14px 14px 0 0;
    border: 1px solid $white95;
    @media screen and (min-width: 768px) and (max-width: 991.98px) {
      padding: 20px;
    }
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
      padding: 20px;
    }
    @media screen and (max-width: 575.98px) {
      padding: 20px;
    }
  }

  .feature-title {
    font-size: 1.8rem;
    color: $grey15;
    font-weight: 500;
    line-height: $lh;
  }

  .feature-list {
    margin-top: 24px;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
    width: 100%;
    max-width: 100%;
    @media screen and (min-width: 1200px) and (max-width: 1399.98px) {
      padding: 0;
    }
    @media screen and (min-width: 992px) and (max-width: 1199.98px) {
      padding: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 991.98px) {
      padding: 0 10px;
    }
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
      padding: 0;
    }
    @media screen and (max-width: 575.98px) {
      padding: 0;
    }
  }

  .feature-item {
    padding: 12px;
    border: 1px solid $white95;
    border-radius: 6px;
    display: flex;
    gap: 8px;

    .feature--tick,
    .feature--x {
      padding: 4px;
      border-radius: 4px;
    }

    .feature--tick {
      background-color: $orange95;
    }

    .feature--x {
      background-color: $white95;
    }

    p {
      font-size: 1.4rem;
      line-height: $lh;
      color: $grey30;
    }
  }

  .btn__feature {
    font-weight: 600;
    border-radius: 0 0 8px 8px;
    width: 100%;
    max-width: 100%;
  }

  .faq {
    padding: 80px;
    gap: 80px;
    background-color: $absoluteWhite;
    border-radius: 12px;
    @media screen and (min-width: 992px) and (max-width: 1199.98px) {
      padding: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 991.98px) {
      padding: 40px;
      gap: 30px;
      margin-top: 50px;
    }
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
      flex-direction: column;
      gap: 40px;
      padding: 24px;
      margin-top: 30px;
    }
    @media screen and (max-width: 575.98px) {
      flex-direction: column;
      gap: 40px;
      padding: 24px;
      margin-top: 30px;
    }

    .faq-left {
      flex: 2;
    }

    .fqa__heading {
      font-size: 3.8rem;
      font-weight: 600;
      line-height: 1.2;
      color: $grey15;

      @media screen and (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 3rem;
      }

      @media screen and (min-width: 768px) and (max-width: 991.98px) {
        font-size: 2.8rem;
      }
      @media screen and (min-width: 576px) and (max-width: 767.98px) {
        font-size: 2.8rem;
      }
      @media screen and (max-width: 575.98px) {
        font-size: 2.8rem;
      }
    }

    .fqa__support,
    .support-mail {
      margin-top: 8px;
      color: $grey20;
      font-size: 1.6rem;
      line-height: $lh;
      @media screen and (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.4rem;
      }
      @media screen and (min-width: 576px) and (max-width: 767.98px) {
        font-size: 1.4rem;
      }
      @media screen and (max-width: 575.98px) {
        font-size: 1.4rem;
      }
    }

    .btn__faq {
      font-weight: 500;
      border: 1px solid $white95;
      background-color: $absoluteWhite;
      @media screen and (max-width: 575.98px) {
        margin-top: 20px;
      }
    }

    .faq-right {
      flex: 3;
    }

    .faq-item {
      border: 1px solid $white95;
      border-radius: 10px;
      background-color: $absoluteWhite;
      @media screen and (min-width: 992px) and (max-width: 1199.98px) {
        padding: 30px;
      }
      @media screen and (min-width: 768px) and (max-width: 991.98px) {
        padding: 24px;
      }
      @media screen and (min-width: 576px) and (max-width: 767.98px) {
        padding: 24px;
      }
      @media screen and (max-width: 575.98px) {
        padding: 24px;
      }
      &:not(:first-child) {
        margin-top: 30px;
        padding: 24px 40px;
        @media screen and (min-width: 992px) and (max-width: 1199.98px) {
          margin-top: 20px;
          padding: 24px 30px;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
          margin-top: 20px;
          padding: 20px 24px;
        }
        @media screen and (min-width: 576px) and (max-width: 767.98px) {
          margin-top: 20px;
          padding: 20px 24px;
        }
        @media screen and (max-width: 575.98px) {
          margin-top: 20px;
          padding: 20px 24px;
        }
      }
    }

    .faq-question {
      gap: 40px;
      @media screen and (min-width: 768px) and (max-width: 991.98px) {
        gap: 30px;
      }
      @media screen and (min-width: 576px) and (max-width: 767.98px) {
        gap: 30px;
      }
      @media screen and (max-width: 575.98px) {
        gap: 30px;
      }
    }

    .question {
      color: $grey15;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: $lh;
      @media screen and (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.6rem;
      }
      @media screen and (min-width: 576px) and (max-width: 767.98px) {
        font-size: 1.6rem;
      }
      @media screen and (max-width: 575.98px) {
        font-size: 1.6rem;
      }
    }

    .btn__question {
      margin-left: auto;
      padding: 10px;
      border-radius: 6px;
      background-color: $orange95;
      img {
        width: 24px;
      }
    }

    .faq-reply {
      margin-top: 20px;
      padding-top: 40px;
      border-top: 1px solid $white95;
      font-size: 1.6rem;
      line-height: $lh;
      letter-spacing: -0.0096rem;
      color: $grey30;
      @media screen and (min-width: 768px) and (max-width: 991.98px) {
        padding-top: 30px;
        font-size: 1.4rem;
      }
      @media screen and (min-width: 576px) and (max-width: 767.98px) {
        padding-top: 20px;
        font-size: 1.4rem;
      }
      @media screen and (max-width: 575.98px) {
        padding-top: 20px;
        font-size: 1.4rem;
      }
    }

    .faq--show {
      transform: rotate(45deg);
    }

    .faq-more {
      display: inline-flex;
      align-items: center;
      width: 100%;
      max-width: 100%;
      padding: 16px 24px;
      border-radius: 6px;
      border: 1px solid $white95;
      background: $white97;
      @media screen and (min-width: 768px) and (max-width: 991.98px) {
        padding: 12px 20px;
      }
      @media screen and (min-width: 576px) and (max-width: 767.98px) {
        margin-top: 20px;
        padding: 12px 20px;
      }
      @media screen and (max-width: 575.98px) {
        margin-top: 20px;
        padding: 12px 20px;
      }
      p {
        color: $grey20;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: $lh;
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
          font-size: 1.4rem;
        }
        @media screen and (min-width: 576px) and (max-width: 767.98px) {
          font-size: 1.4rem;
        }
      }

      .faq-more__icon {
        margin-left: auto;
        padding: 12px;
        border-radius: 100px;
        background-color: $absoluteWhite;
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
          padding: 10px;
        }
        @media screen and (min-width: 576px) and (max-width: 767.98px) {
          padding: 10px;
        }
      }
    }
  }
}
